*.o
.*.d
*.so*
*.dylib*
.*.swp
*~
*.d
*.a
.cproject
.project
.settings
include/config.h
include/config.h.in
preload/exported.h
preload/ldexportlist
preload/wrappers.c
.version
preload/master.*
preload/private.*
preload/export.map
include/scratchbox2_version.h
/build-stamp
/CMakeCache.txt
/CMakeFiles
/cmake_install.cmake
/build
